@import '~@angular/material/theming';
.person-details-containers {
   display: flex;
   flex-wrap: wrap;
}
mat-card {
  flex: 0 0 20%;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  @include mat-elevation(6);
  border-top: 2px solid blue;
  // background: #e0c8c812;
  mat-card-content {
    display: flex;
    flex-direction: column;
    .info {
      display: flex;
      padding: 0.2em;
      justify-content: space-between;
      .head {
        font-size: 12px;
        font-weight: 500;
      }
      .value {
        font-size: 12.3px;
        font-weight: 600;
      }
    }
  }
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}
